.hands{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

};
.title1{
    color: orange;
}

img{
    display: flex;
    max-width: 200px;
    max-height: 200px;
    justify-content: space-between;
    margin: 100px;
    margin-top: 0px;

}
.hands{
    max-width: max-content;
    max-height: max-content;
    ;

}